html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

* {
  color: #272727;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-size: 1rem;
  font-weight: 500;
}

body {
  position: relative;
  min-width: 350px;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 14rem;
  background-color: #f8f8f8;
}

section {
  padding: 1rem;
}
section h2 {
  font-size: 1.7rem;
  font-weight: 400;
}
section h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.hover {
  transition: all 0.5s ease-in-out;
}
.hover:hover {
  color: #6acc2d;
  transition: all 0.5s ease-in-out;
}
.hover:hover * {
  color: #6acc2d;
  transition: all 0.5s ease-in-out;
}

.content {
  max-width: 1200px;
  margin: auto;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 100%;
}
header .wp-name img {
  position: absolute;
  z-index: 100;
  top: 0.5rem;
  left: 0.7rem;
  height: 3.5rem;
  width: 3.5rem;
}
header .wp-name__title {
  display: none;
  position: absolute;
  top: 0rem;
  left: 8rem;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-weight: 400;
  z-index: 100;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  header .wp-name img {
    left: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  header .wp-name__title {
    display: inline;
  }
}
footer {
  background-color: #6acc2d;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer * {
  color: #f8f8f8;
}
footer h2 {
  padding-top: 2rem;
  padding-bottom: 1.8rem;
  padding-left: 2rem;
  font-size: 1.7rem;
}
footer p, footer p i, footer p a {
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
footer p i {
  padding-right: 0.25rem;
}
footer .footer__contact {
  display: flex;
  flex-direction: column;
}
footer .footer__copyright {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #f8f8f8;
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer .footer__contact {
    flex-direction: row;
    justify-content: center;
  }
  footer .footer__contact p {
    max-width: 400px;
    flex-basis: 50%;
  }
}
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1.5rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #272727;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #272727;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #272727;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.85;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #f8f8f8;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #6acc2d;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #6acc2d;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav__item:nth-child(5) {
  transition-delay: 0.65s;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}
.opening-hours {
  margin: auto;
  max-width: 500px;
}
.opening-hours h2 {
  padding: 0.5rem;
  border-bottom: 1px solid #272727;
  margin-bottom: 1rem;
}
.opening-hours__table {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
}
.opening-hours__table * {
  text-align: center;
  padding: 0.25rem 0;
}
.opening-hours__table-day {
  padding-left: 0.8rem;
  text-align: left;
}
.opening-hours__table div:nth-child(3n) {
  background-color: rgba(208, 240, 187, 0.3);
}
.opening-hours__table-comment {
  padding-top: 1rem;
  grid-column: 1/span 3;
}

.contact-information {
  margin: auto;
  max-width: 500px;
}
.contact-information h2 {
  padding: 0.5rem;
  border-bottom: 1px solid #272727;
  margin-bottom: 1rem;
}
.contact-information p {
  padding-bottom: 0.5rem;
}
.contact-information div {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.contact-information__name p:first-child {
  font-size: 1.1rem;
  font-weight: 500;
}
.contact-information__name .side-information {
  padding-left: 2rem;
  font-weight: 400;
}
.contact-information__contact {
  padding-top: 0.5rem;
}
.contact-information__contact i {
  padding-right: 0.8rem;
}

.insurance-contract__table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0.8rem;
  border-bottom: 1px solid #272727;
}
.insurance-contract__table-row-code {
  padding-left: 0.8rem;
}
.insurance-contract__table-row-name {
  display: none;
}
.insurance-contract__table-row * {
  padding-top: 0.8rem;
  padding-bottom: 0.25rem;
}

@media screen and (min-width: 768px) {
  .insurance-contract__table-row {
    grid-template-columns: 1fr 1fr 4fr;
  }
  .insurance-contract__table-row-name {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .insurance-contract__table-row {
    grid-template-columns: 1fr 1fr 3fr;
  }
  .insurance-contract__table-row-name {
    display: block;
  }
}
main.page {
  padding-top: 4.5rem;
  margin: auto;
}
main.page h2 {
  padding: 0.5rem;
  border-bottom: 1px solid #272727;
  margin-bottom: 1rem;
}
main.page h3 {
  padding: 0.5rem;
  border-bottom: 1px solid #272727;
  margin-bottom: 1rem;
}

.index .welcome-page {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(248, 248, 248, 0.6), rgba(248, 248, 248, 0.5)), url("./../img/VH-14_HD.webp");
  background-size: cover;
  background-position: center;
  background-position-y: 100%;
}
.index .welcome-page section {
  padding: 0;
  background-color: transparent;
}
.index .welcome-page .welcome {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: auto;
}
.index .welcome-page .welcome__before {
  position: absolute;
  top: 15%;
  left: 8%;
  font-weight: 300;
}
.index .welcome-page h1.welcome__name {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.index .welcome-page .welcome__name-firstname {
  display: none;
}
.index .welcome-page .welcome__after {
  position: absolute;
  top: 26%;
  right: 8%;
  font-size: 1.4rem;
  font-weight: 300;
}
.index .welcome-page .actual {
  position: absolute;
  top: 34%;
  left: 8%;
  margin: auto;
  width: 84%;
  background-color: rgba(248, 248, 248, 0.6);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0.5rem;
}
.index .welcome-page .actual h2 {
  margin: 0.5rem 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #272727;
}
.index .welcome-page .actual ul {
  padding: 0.5rem;
}
.index .welcome-page .actual ul li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
.index .welcome-page__comment {
  position: absolute;
  bottom: 8%;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
}
.index .welcome-page__comment a {
  font-size: 1.1rem;
  color: #5fb728;
}
.index .opening-hours, .index .contact-information {
  margin: 2rem auto;
}

.contact {
  max-width: 500px;
}
.contact .opening-hours {
  margin-bottom: 2rem;
}
.contact .map {
  margin: auto;
  max-width: 500px;
  margin-bottom: 2rem;
  width: 90%;
  height: 30vh;
}
.contact .map iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .contact {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .contact .opening-hours {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    margin-top: 0;
  }
  .contact .contact-information {
    width: 100%;
    margin-top: 0;
  }
  .contact .map {
    max-width: 100%;
    width: 80%;
    height: 50vh;
    grid-column: span 2;
  }
}
.insurance {
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .insurance {
    max-width: 1000px;
  }
}
.services .activity ul {
  margin: 0 1rem;
  padding-left: 1rem;
  list-style: circle;
}
.services .activity ul li {
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #272727;
}
.services .pricing {
  margin-bottom: 2rem;
}
.services .pricing .comment {
  margin-top: -0.5rem;
}
.services .pricing .comment p {
  font-weight: 300;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
}
.services .pricing-table {
  margin: 0.8rem;
}
.services .pricing-table__record {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #272727;
}
.services .pricing-table__record .sidenote {
  font-weight: 300;
}
.services .pricing-table__record-price {
  align-self: flex-end;
  white-space: nowrap;
}
.services .pricing-table__record-line {
  flex-basis: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .services .pricing .comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.about p {
  padding: 0.8rem;
}
.about img {
  width: 95%;
  border-radius: 0.8rem;
  margin: auto;
}
.about .about-us__team-member {
  display: grid;
  grid-template-columns: 100%;
}
.about .about-us__team-member-name {
  text-align: center;
  padding: 0 0.8rem 0.25rem 0.8rem;
  font-size: 1.1rem;
}
.about .about-us__team-member-role {
  text-align: center;
  padding: 0 0.8rem 0.8rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 300;
}
.about .about-us__team-member:not(:last-child) {
  padding-bottom: 2rem;
}
.about .room-photo__photo {
  display: grid;
  grid-template-columns: 100%;
  padding-bottom: 2rem;
}
.about .room-photo__photo-name {
  text-align: center;
  padding: 0 0.8rem 0.8rem 0.8rem;
  font-size: 1.1rem;
}/*# sourceMappingURL=style.css.map */