.contact {
    max-width: $max-width-s;

    .opening-hours {
        margin-bottom: 2rem;
    }

    .map {
        margin: auto;
        max-width: $max-width-s;
        margin-bottom: 2rem;
        width: 90%;
        height: 30vh;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}