.index {

    .welcome-page {
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: linear-gradient(
            to right,
            rgba($primary-color, 0.6),
            rgba($primary-color, 0.5)
        ),
        url("./../img/HD/VH-14.webp");
        background-size: cover;
        background-position: center;
        background-position-y: 100%;

        // resets
        section {
            padding: 0;
            background-color: transparent;
        }
        
        // welcome heading ---------
        .welcome {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: $max-width-s;
            margin: auto;
        }

        .welcome__before {
            position: absolute;
            top: 15%;
            left: 8%;
            font-weight: 300;
        }

        h1.welcome__name {
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            text-align: center;
        }

        h1, h1 * {
            font-size: 2rem;
            font-weight: 900;
        }

        .welcome__name-firstname {
            display: none;
        }

        .welcome__after {
            position: absolute;
            top: 26%;
            right: 8%;
            font-size: 1.4rem;
            font-weight: 300;
        }

        // actual information
        .actual {
            position: absolute;
            top: 34%;
            left: 8%;

            margin: auto;
            width: 84%;

            background-color: rgba($primary-color, 0.6);

            border-top-left-radius: $space-s;
            border-top-right-radius: $space-l;
            border-bottom-left-radius: $space-l;
            border-bottom-right-radius: $space-s;

            h2 {
                margin: $space-s $space-s;
                padding-left: $space-s;
                padding-bottom: $space-s;
                border-bottom: $border-thin solid set-text-color($primary-color);
            }

            ul {
                padding: $space-s;

                li {
                    line-height: 1.2;
                    padding-left: $space-s;
                    padding-right: $space-s;
                    padding-bottom: $space-s;
                }
            }
        }

        &__comment {
            position: absolute;
            bottom: 8%;
            width: 100%;
            text-align: center;

            font-weight: 500;
            font-size: 1.1rem;

            a {
                font-size: 1.1rem;
                color: darken($secondary-color, 5%);
            }
        }

    }

    .opening-hours, .contact-information {
        margin: $space-xl auto;
    }
}

@include media-md {
    .index {
        .welcome-page {
            .welcome__name-firstname {
                display: inline;
            }

            .welcome__before {
                left: 0;
            }

            .welcome__after {
                right: 0;
            }
        }

        > .content {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .contact-information {
                grid-row: 1;
                grid-column: 1;

                width: 100%;
                height: 100%;
            }

            .opening-hours {
                grid-column: 2;

                width: 100%;
                height: 100%;
            }
        }
    }
}

@include media-lg {
    .index {
        .welcome-page {
            display: grid;
            grid-template-columns: 5% 60% 5% 25% 5%;
            grid-template-rows: 10% 40% 40% 10%;
            
            background: linear-gradient(
                to right,
                rgba($primary-color, 0.6),
                rgba($primary-color, 0.5)
            ),
            url("./../img/Full-HD/VH-14.webp");
            background-size: cover;
            background-position: center;
            background-position-y: 100%;
            
            .welcome {
                grid-column: 2;
                grid-row: 2;
                width: 100%;
                height: 100%;
                max-width: 700px;
                margin: auto;

                h1, h1 * {
                    font-size: 2.5rem;
                }

                h1.welcome__name {
                    top: 25%;
                }

                .welcome__after {
                    top: 40%;
                }
            }

            .actual {
                top: 7.5%;
                left: 0;
                grid-column: 4 / 5;
                grid-row: 2 / 4;
                width: 100%;
            }

            .welcome-page__comment,  .welcome-page__comment * {
                font-size: 1.2rem;
            }

        }
    }
}

@include media-xl {
    .index {
        .welcome-page {
            .welcome {
                max-width: 800px;
                h1, h1 * {
                    font-size: 3rem;
                }

                h1.welcome__name {
                    top: 27%;
                }

                .welcome__after {
                    top: 47%;
                    font-size: 1.7rem;
                }
                .welcome__before {
                    font-size: 1.7rem;
                }
            }
        }
    }
}