.contact-information {
    margin: auto;
    max-width: $max-width-s;
    h2 {
        padding: $space-s;
        border-bottom: $border-thin solid set-text-color($primary-color);
        margin-bottom: $space-l;
    }

    p {
        padding-bottom: $space-s;
    }

    div {
        padding-left: $space-s;
        padding-bottom: $space-s;
    }

    &__name {
        p:first-child {
            font-size: 1.1rem;
            font-weight: 500;
        }

        .side-information {
            padding-left: $space-xl;
            font-weight: 400;
        }
    }

    &__contact {
        padding-top: $space-s;
        i {
            padding-right: $space-m;
        }
    }
}