footer {
    background-color:$secondary-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    * {
        color: set-text-color($secondary-color);
    }

    h2 {
        padding-top: $space-xl;
        padding-bottom: $space-l + $space-m;
        padding-left: $space-xl;

        font-size: 1.7rem;
    }

    p, p i, p a {
        font-weight: 300;
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: $space-s;
    }

    p i {
        padding-right: $space-xs;
    }

    .footer__copyright {
        margin-top: $space-xl;
        padding: $space-l;
        border-top: $border-thin solid set-text-color($secondary-color);

        font-size: 0.8rem;
        text-align: center;
    }
}