.opening-hours {
    margin: auto;
    max-width: $max-width-s;

    h2 {
        padding: $space-s;
        border-bottom: $border-thin solid set-text-color($primary-color);
        margin-bottom: $space-l;
    }

    &__table {
        display: grid;
        grid-template-columns: 1fr repeat(2, 2fr);


        * {
            text-align: center;
            padding: $space-xs 0;
        }

        &-day {
            padding-left: $space-m;
            text-align: left;
        }

        div:nth-child(3n) {
            background-color: lighten(rgba($secondary-color, 0.3), 35%);
        }
        
        &-comment {
            padding-top: $space-l;
            grid-column: 1 / span 3;
        }
    }
}