* {
    color: set-text-color($primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    font-size: 1rem;
    font-weight: 500;
}

.significant {
    color: red;
}